.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.search-box {
  background-color: red;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  float: right;
}

.search {
  /* background-color: transparent; */
  border: none;
  padding-left: 10px;
  font-size: medium;
}

.search-icon {
  display: flex;
  vertical-align: middle;
}