body {
  background: url(https://img.freepik.com/free-vector/weather-seamless-pattern-background-vector-cute-doodle-illustration-kids_53876-105731.jpg?w=996&t=st=1659352409~exp=1659353009~hmac=ad6e2ba167dfad923c2e2f88f2bbf01403ec1ac0641d6d7e7193a37f3db9c76d);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box {
  border: 5px solid rgb(254, 226, 143);
  width: 500px;
  padding: 50px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.727);
}